<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.emfforms.internal.ide.preferences.EmfFormsMainPreferencePage"
            id="org.eclipse.emfforms.ide.preferences.page.main"
            name="EMF Forms">
      </page>
   </extension>

</plugin>
