<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.swt.dialogWrapper">
      <dialogWrapper
            class="org.eclipse.emf.ecp.rap.spi.util.RAPWrapper">
      </dialogWrapper>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.edit.swt.controlListener">
      <VerifyListener
            control="org.eclipse.emf.ecp.edit.internal.swt.controls.NumericalControl"
            listener="org.eclipse.emf.ecp.rap.util.internal.clientscripting.NumericalListener">
      </VerifyListener>
   </extension>

</plugin>
