<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="api-baseline">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/ecp/releases/releases_target_126"/>
			<unit id="org.eclipse.emf.ecp.changebroker.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.changebroker.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.demo.e3.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.demo.e3.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.diffmerge.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.diffmerge.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.e3.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.e3.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ecore.editor.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ecore.editor.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ecore.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ecore.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emf2web.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emf2web.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfforms.idetooling.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfforms.idetooling.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfstore.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.emfstore.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.i18n.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ide.migration.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.ide.migration.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.license.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.makeithappen.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.makeithappen.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.rap.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.rap.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.rap.sdk.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.rap.util.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.rap.util.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.validation.view.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.validation.view.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.categorization.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.categorization.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.compoundcontrol.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.compoundcontrol.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.custom.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.custom.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.di.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.di.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.edapt.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.edapt.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.group.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.group.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.group.swt.collapsible.pgroup.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.group.swt.collapsible.pgroup.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.groupedgrid.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.groupedgrid.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.horizontal.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.horizontal.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.indexdmr.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.indexdmr.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.keyattributedmr.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.keyattributedmr.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.label.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.label.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.mappingdmr.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.mappingdmr.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.model.controls.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.model.controls.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.model.editor.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.model.editor.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.rule.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.rule.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.section.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.section.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.stack.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.stack.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.celleditor.rcp.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.celleditor.rcp.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.nebula.grid.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.nebula.grid.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.rcp.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.rcp.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.swt.persistedstate.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.table.ui.swt.persistedstate.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.template.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.template.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.treemasterdetail.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.treemasterdetail.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.unset.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.unset.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.bean.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.bean.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.initial.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.validation.initial.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.vertical.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.vertical.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.viewproxy.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.view.viewproxy.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.viewmodel.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.viewmodel.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.workspace.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.ecp.workspace.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.4.1.202002140949"/>
			<unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="1.4.1.202002140949"/>
			<unit id="org.eclipse.emfforms.coffee.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.coffee.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.common.prevalidation.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.common.prevalidation.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.core.bazaar.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.core.bazaar.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.datatemplate.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.datatemplate.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.datatemplate.ide.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.datatemplate.ide.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.editor.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.editor.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.editor.genmodel.util.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.editor.genmodel.util.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.i18n.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.rulerepository.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.rulerepository.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.spreadsheet.feature.feature.group" version="1.0.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.spreadsheet.feature.source.feature.group" version="1.0.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.multiattribute.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.multiattribute.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.text.autocomplete.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.text.autocomplete.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.text.richtext.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.control.text.richtext.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.controlgrid.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.swt.controlgrid.feature.source.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.view.annotation.feature.feature.group" version="1.26.0.20210308-0858"/>
			<unit id="org.eclipse.emfforms.view.annotation.feature.source.feature.group" version="1.26.0.20210308-0858"/>
		</location>
	</locations>
</target>